<div class="admin-page">
    <div class="container">
        <h1>Listar Usuários</h1>

        <input type="text" id="SearchBar" placeholder="Buscar usuários..." (input)="Search($event)">
            <p>0 = Padrão; 1 = Admin; 2 = ONG.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Criação</th>
                    <th>Atualização</th>
                </tr>
            </thead>
            <tbody>
                @if(users.length >0) {
                @for(user of users; track $index) {
                <tr>
                    <td>
                        @if(user.isActive) {
                        <button class="btn btn-success" (click)="TriggerUserActive(user.id)">Ativo</button>
                        }
                        @else {
                        <button class="btn btn-danger" (click)="TriggerUserActive(user.id)">Inativo</button>
                        }
                    </td>
                    <td>{{user.id}}</td>
                    <td>
                        @switch(user.role) {
                        @case (0) { <span class="role-default">Padrão</span> }
                        @case (1) { <span class="role-admin">Admin</span> }
                        @case (2) { <span class="role-ong">ONG</span> }
                        }
                    </td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.creationDate | date: 'short'}}</td>
                    <td>{{user.updateDate | date: 'short'}}</td>
                </tr>
                }
                }
                @else {
                <tr>
                    <td colspan="8" class="no-users">
                        <h3>Nenhum Usuário Encontrado</h3>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>