# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
api/pi_unolink/wwwroot/resources/*
# Build Results
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Angular
node_modules/
dist/