<div class="register-form">
    <div class="form-container">
      <div class="logo-container">
        <img src="images/unolinkicon.png" alt="UNOLINK" class="form-logo">
      </div>
      <h1>Cadastrar Usuário</h1>
      <form id="form-cadastro" [formGroup]="userForm" (ngSubmit)="Register()">
        <div class="input-group">
          <i class="fas fa-user"></i>
          <input type="text" id="nome" placeholder="Nome completo" required formControlName="name">
        </div>
        
        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input type="email" id="email" placeholder="Email" required formControlName="email">
        </div>
        
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" id="senha" placeholder="Senha" required formControlName="password">
        </div>
        
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" id="confirmar-senha" placeholder="Confirmar senha" required formControlName="ConfirmPassword">
        </div>
        
        <button type="submit" class="btn btn-primario">
          <i class="fas fa-user-plus"></i> Cadastrar
        </button>
        
        <button type="button" class="btn btn-secundario" [routerLink]="['/']">
          <i class="fas fa-arrow-left"></i> Voltar
        </button>
      </form>
    </div>
  </div>