
.feedback-container {
      display: flex;
      padding-top: calc(var(--navbar-height) + 3px);
      background-color: var(--branco);
  }
.menu {
      width: 220px;
      height: 89.3vh;
      padding: 20px;
      font-weight: bold;
      background-color: var(--cinza-menu);
      
  } 
  .menu h3 {
      font-size: 17px;
      margin-bottom: 10px;
      color: var(--letra);
  }
  .menu ul {
      list-style: none;
      padding: 0;
  }
    
  .menu li {
      padding: 10px 5px;
      cursor: pointer;
      border-left: 4px solid transparent;
      transition: background 0.3s;
      font-size: 20px;
      color: var(--letra);
  }
  .menu li:hover{
    background-color: var(--branco);
    border-left: 4px solid var(--rosa);
    color: var(--rosa);
  }
  
  .exit {
      padding-top: 40vh;
      font-size: 20px;
      color: var(--letra);
  }
  .menu li i,
  .exit i{
      margin-right: 10px;
  } 
  .form-container {
      flex: 1;
      padding: 60px;
  }
    
  .form-container h1 {
      font-size: 24px;
      margin-bottom: 30px;
  }
  
  form {
      display: flex;
      flex-direction: column;
  }
  
    
  form label {
      font-weight: bold;
      margin: 10px 0 5px;
      color: var(--letra);
  }
    
  form input {
      background-color: var(--rosa-secundario);
      border: none;
      padding: 10px;
      border-radius: 6px;
      color: var(--letra);
      font-weight: bold;
      
  }
    
  form button {
      background-color: var(--rosa-primario);
      color: white;
      border: none;
      padding: 12px;
      border-radius: 6px;
      margin-top: 20px;
      font-weight: bold;
      cursor: pointer;
  }

  .format {
      padding: 100px;
      padding-right: 690px;
      border-radius: 8px;
      text-align: center;
      width: 500px;
      flex: 1;
    gap: 30px;
   align-items: flex-start;
      
      
  }

  
