<div class="feedback-container">
    <main class="format">
      <h1 style="color: var(--letra);"><i class="fa-regular fa-comment-dots" style="color: var(--letra);"></i> FEEDBACKS</h1>
      <form [formGroup]="feedbackFroms" (ngSubmit)="SendFeedBack()">
        <label for="sobre">SOBRE</label>
        <input type="text" id="sobre" name="sobre" placeholder="Digite o assunto..." formControlName="subject">
        <label for="assunto">ASSUNTO</label>
        <input type="text" id="assunto" name="assunto" placeholder="Digite o conteúdo..." formControlName="body">
        <button type="submit" id="btnEnviar">ENVIAR</button>
      </form>

      <app-popup 
      *ngIf="popupAberto" 
      [message]="'Email Enviado!'" 
      (close)="popupAberto = false">
    </app-popup>
    </main>
    <aside class="menu">
        <h3>CONFIGURAÇÃO</h3>
        <ul>
            <li class="active"><i class="fa-solid fa-circle-user" style="color: var(--letra);"></i>  Seu Perfil</li><br>
            <li><i class="fa-solid fa-lock" style="color: var(--letra);"></i>  Segurança e Privacidade</li><br>
            <li id="toggle-theme" (click)="toggleTheme()"><i class="fa-solid fa-moon" style="color: var(--letra);"></i>  Aparência</li><br>
            <li id="historicoBtn" class="btnHistorico"><i class="fa-solid fa-file" style="color: var(--letra);"></i>  Histórico</li><br>
        </ul>
        <div class="exit"><i class="fas fa-sign-out-alt"></i>  SAIR</div>
    </aside>

  </div>
