<div class="feedback-container">
  <app-profilemenu></app-profilemenu>

  <main class="feedback-content">
    <div class="feedback-header">
      <h1><i class="fa-regular fa-comment-dots"></i> Enviar Feedback</h1>
      <p>
        Nos ajude a melhorar a plataforma enviando sua opinião ou relato de
        problema.
      </p>
    </div>

    <div class="feedback-card">
      <form [formGroup]="feedbackFroms" (ngSubmit)="SendFeedBack()">
        <label for="sobre">Assunto</label>
        <input type="text" id="sobre" placeholder="Qual é o assunto do feedback?" formControlName="subject" />

        <label for="assunto">Mensagem</label>
        <textarea id="assunto"
          placeholder="Descreva seu feedback com detalhes..."
          formControlName="body"
          rows="1"
          oninput="this.style.height='auto'; this.style.height=this.scrollHeight + 'px'"></textarea>

        <button type="submit" id="btnEnviar">Enviar Feedback</button>
      </form>
    </div>

  </main>
</div>
