.popup {
    position: fixed;
    bottom: 28px;
    right: 28px;
    background: var(--rosa-primario);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.25);
    width: 260px;
    animation: popupOpen 0.30s ease-out forwards;
    z-index: 9999;
}

.popup-content {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
}

.popup-icon {
    font-size: 22px;
}

.popup-progress {
    width: 100%;
    height: 5px;
    background: rgba(255,255,255,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.popup-progress::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    animation: progressShrink 1.5s linear forwards;
}

@keyframes popupOpen {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup.close {
    animation: popupClose 0.20s ease-in forwards;
}

@keyframes popupClose {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes progressShrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
