<div class="register-form">
  <div class="form-container">
    <div class="logo-container">
      <img src="images/unolinkicon.png" alt="UNOLINK" class="form-logo">
    </div>
    <h1>Editar Perfil</h1>
    <form id="form-cadastro" [formGroup]="UpdateForm" (ngSubmit)="Update()">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" id="nome" placeholder="Nome de Usuário" required formControlName="name">
      </div>

      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="text" id="description" placeholder="Descrição" required formControlName="description">
      </div>

      <div class="input-group file-input">
        <label for="profile-image" class="file-label">
          <i class="fa-solid fa-image"></i>
          Selecionar Foto
        </label>

        <input type="file" id="profile-image" accept="image/*" (change)="onFileSelected($event)" />

        <p class="file-name">
          {{ selectedFile?.name || 'Nenhum arquivo selecionado' }}
        </p>

        <div class="preview-container" *ngIf="previewImage">
          <img [src]="previewImage" class="image-preview" alt="Preview da imagem">
        </div>
      </div>

      <button type="submit" class="btn btn-primario">
        <i class="fas fa-user-edit"></i> Editar
      </button>

      <button type="button" class="btn btn-secundario" [routerLink]="['/Profile']">
        <i class="fas fa-arrow-left"></i> Voltar
      </button>
    </form>
  </div>
</div>